{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.mustache",
            "options": {
                "parser": "html"
            }
        }
    ]
}
